node_modules
bower_components

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Created by .ignore support plugin (hsz.mobi)
### OSX template
.DS_Store

# Thumbnails
._*