<md-toolbar class="md-primary">
  <h5>Filter Product List</h5>
</md-toolbar>

<md-input-container>
  <label>H</label>
   <input ng-model="vm.height">
</md-input-container>

<md-input-container>
  <label>W</label>
  <input ng-model="vm.width">
</md-input-container>

<md-input-container>
  <label>L</label>
  <input ng-model="vm.length">
</md-input-container>

<md-input-container>
  <label>lbs</label>
  <input ng-model="vm.pounds">
</md-input-container>


<button data-ng-click="vm.clearFilters()">clear filters</button>
<button data-ng-click="vm.addProducts()">add products</button>

<md-toolbar class="md-primary">
  <h5>Products</h5>
</md-toolbar>

<md-list>
  <md-item data-ng-repeat="product in vm.products">
    <md-item-content>
      <div>
        <md-checkbox data-ng-model="product.isSelected"
                     class="md-primary" aria-label="product.ProductName"></md-checkbox>
      </div>
      <div class="md-tile-content">
        <h3>{{product.ProductName}}</h3>
      </div>
    </md-item-content>
  </md-item>
</md-list>