<!--<md-toolbar class="md-primary">-->
  <!--<h5>Filter Product List</h5>-->
<!--</md-toolbar>-->

<md-input-container>
  <label>H</label>
   <input ng-model="vm.height">
</md-input-container>

<md-input-container>
  <label>W</label>
  <input ng-model="vm.width">
</md-input-container>

<md-input-container>
  <label>L</label>
  <input ng-model="vm.length">
</md-input-container>

<md-input-container>
  <label>lbs</label>
  <input ng-model="vm.pounds">
</md-input-container>

<!--<md-select data-ng-model="vm.selectedSupplier" placeholder="filter on supplier">-->
  <!--<md-select-label>{{ vm.selectedSupplier ? 'filtering by ' + vm.selectedSupplier.CompanyName : 'filter by supplier' }}</md-select-label>-->
  <!--<md-option data-ng-value="item" data-ng-repeat="item in vm.suppliers">{{item.CompanyName}}</md-option>-->
<!--</md-select>-->

<!--<md-select data-ng-model="vm.selectedCategory" placeholder="filter on category">-->
  <!--<md-select-label>{{ vm.selectedCategory ? 'filtering by ' + vm.selectedCategory.CategoryName : 'filter by category' }}</md-select-label>-->
  <!--<md-option data-ng-value="item" data-ng-repeat="item in vm.categories">{{item.CategoryName}}</md-option>-->
<!--</md-select>-->

<!--<button data-ng-click="vm.clearFilters()">clear filters</button>-->
<!--<button data-ng-click="vm.addProducts()">add products</button>-->

<md-toolbar class="md-primary">
  <h5>Search for Shipping Quote</h5>
</md-toolbar>

<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in vm.getMatches(searchText)" md-item-text="item.display">
    <span md-highlight-text="searchText">{{item.display}}</span>
</md-autocomplete>

<md-list>
  <md-item data-ng-repeat="product in vm.products">
    <md-item-content>
      <div>
        <md-checkbox data-ng-model="product.isSelected"
                     class="md-primary" aria-label="product.ProductName"></md-checkbox>
      </div>
      <div class="md-tile-content">
        <h3>{{product.ProductName}}</h3>
      </div>
    </md-item-content>
  </md-item>
</md-list>